#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 666px;

  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#app .container-view {
  padding: 20px;
  background-color: rgb(255, 250, 250);
  z-index: -1;
  min-height: 500px;
}

#app .tabs {
  display: flex;
}

#app .left-tab {
  padding: 5px;
  flex: 2;
  font-size: 18px;
}

#app .all-calls-selected {
  border-bottom: 3px solid green;
  cursor: pointer;
  font-weight: bold;
}

#app .all-calls {
  cursor: pointer;
}

#app .archived-calls {
  cursor: pointer;
}

#app .archived-calls-selected {
  border-bottom: 3px solid green;
  font-weight: bold;
  cursor: pointer;
}

#app .right-tab {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  flex: 2;
  align-items: center;
  align-content: center;
}
#app .footer-container-view {
  height: 10vh;
  max-height: 70px;
  position: fixed;
  width: 376px;
  z-index: 100;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app .footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
